{% extends "front/base.html.twig" %}

{% block body %}

    

	{% for design in designer %}

		
		<h2>
			<a href="{{ path('design_show', {'id' : design.id}) }}">{{ design.name }}</a>
		</h2>
	{% endfor %}

{% endblock %}